*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
body{
    background-color: #0a0a29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    position: relative;
    flex-direction: column;
    padding: 15px;
}
h1{
    font-size: 4.2rem;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 35px;
}
p{
    font-size: 1.75rem;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffcc00;
}
#advertencies{
    font-size: 1.35rem;
    max-width: 550px;
    color: #ffcc00;
    text-align: center;
}
#red{
    font-size: 1.65rem;
    max-width: 550px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}
button{
    color: #0a0a29;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #00B894;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    scale: 1.15;
}
@media (max-width: 499px) {
    h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 1.5rem;
        max-width: 400px;
        font-weight: bold;
    }
    #advertencies{
        font-size: 1.2rem;
        max-width: 350px;
    }
    #red{
        font-size: 1.5rem;
        max-width: 500px;
        text-align: center;
        color: #ff0000;
        font-weight: bold;
    }
}
@media (max-width: 376px) {
    h1{
        font-size: 2.7rem;
        /* margin-bottom: 25px; */
        /* background-color: red; */
    }
    p{
        font-size: 1.35rem;
        max-width: 350px;
        font-weight: bold;
    }
    #advertencies{
        font-size: .9rem;
        max-width: 370px;
    }
    #red{
    font-size: 1.2rem;
    max-width: 550px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    }
}